<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="template.css" />
<title>Sobre</title>
</head>
<body>
	<nav id="menu">
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/about}">Sobre</a></li>
        <li><a th:href="@{/missao}">Missão</a></li>
        <li><a th:href="@{/links}">Links</a></li>
        <li><a th:href="@{/contatos}">Contato</a></li>
    </ul>
    
    <h1 class="logo-nome">Hilma Barreto</h1>
    <h2 class="logo-formacao">Psicóloga e Psicopedagoga</h2>
    <h2 th:text="#{crp}"></h2>	
    <p>Hilma Barrto de Farias Silva é psicóloga clínica com mais de 10 anos de experiência 
    	com em conosultório atendendo a diversos tipos de publico, 
    	tanto crianças como adultos, casada e mãe de três lindos filhos dois meninos e uma menina.
    	Se especializou em psicopedagogia pela faculdade ... em 2019. Uma profissional responsável e conceituada em sua área, 
    	procurada inclusive por pessoas fora do país. Já foi convidada para realizar palestras na 
    	Primeira Igraja Batista em Jardim Paulista em parceria com a ABAPA.</p>
</nav>
</body>
</html>