<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="template.css" />
<title>Página inicial</title>
</head>
<body>
	<nav id="menu">
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/about}">Sobre</a></li>
        <li><a th:href="@{/missao}">Missão</a></li>
        <li><a th:href="@{/links}">Links</a></li>
        <li><a th:href="@{/contatos}">Contato</a></li>
    </ul>
    
    <h1 class="logo-nome">Hilma Barreto</h1>
    <h2 class="logo-formacao">Psicóloga e Psicopedagoga</h2>
    <h2 th:text="#{crp}"></h2>	
</nav>
</body>
</html>